.main{
    width: 100%;
    padding: 20px;
    .important_dashboard_data{
        // background: red;
        display: flex;
        // justify-content: space-between;
        gap: 25px;
        flex-wrap: wrap;
        & > div{
            box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.4);
            display: flex;
            flex-basis: 23%;
            gap: 10px;
            align-items: center;
            padding: 15px 10px;
            div{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            .circle{
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(251, 251, 255);
                border-radius: 50%;
            }
        }
    }
}