<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/navbar") %> 
    <div class="wrapper">
        <div class="sidebar">
            <div class="control_div"></div>
            <h3 class="welcome_message">Welcome back <%= currentUser %></h3>
            <div class="list_items">
                <ul class="list">
                    <p class="list_heading">Dashboard</p>
                    <li class="list_selected"><a href="/"><i class="bi bi-house" style="font-size: 1.3rem;"></i> Home</a></li>
                </ul>
                <ul class="list">
                    <p class="list_heading">Quick Menu</p>
                    <li><a href=""><i class="bi bi-person" style="font-size: 1.3rem;"></i> Customers</a></li>
                    <li><a href=""><i class="bi bi-shop-window" style="font-size: 1.3rem;"></i> Products</a></li>
                    <li><a href=""><i class="bi bi-truck" style="font-size: 1.3rem;"></i> Orders</a></li>
                </ul>
                <ul class="list">
                    <p class="list_heading">Notifications</p>
                    <li><a href=""><i class="bi bi-pencil-square" style="font-size: 1.3rem;"></i> Reviews</a></li>
                    <li><a href=""><i class="bi bi-chat-left" style="font-size: 1.3rem;"></i> Messages</a></li>
                    <li><a href=""><i class="bi bi-journal-text" style="font-size: 1.3rem;"></i> Complaint</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="important_dashboard_data">
                <div>
                    <div class="circle"><i class="bi bi-person" style="font-size: 1.3rem;"></i></div>
                    <div>
                        <p>5,102</p>
                        <p>Customers</p>
                    </div>
                </div>
                <div>
                    <div class="circle"><i class="bi bi-truck" style="font-size: 1.3rem;"></i></div>
                    <div>
                        <p>512</p>
                        <p>Orders</p>
                    </div>
                </div>
                <div>
                    <div class="circle"><i class="bi bi-cash" style="font-size: 1.3rem;"></i></div>
                    <div>
                        <p>$8,214</p>
                        <p>Earnings</p>
                    </div>
                </div>
                <div>
                    <div class="circle"></div>
                    <div>
                        <p>5,102</p>
                        <p>Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>