<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/navbar") %> 
    <div class="wrapper">
        <div class="sidebar">
            <div class="control_div"></div>
            <div class="list_items">
                <ul class="list">
                    <p class="list_heading">Dashboard</p>
                    <li class="list_selected"><a href="/"><i class="bi bi-house" style="font-size: 1.3rem;"></i> Home</a></li>
                </ul>
                <ul class="list">
                    <p class="list_heading">Quick Menu</p>
                    <li><a href=""><i class="bi bi-person" style="font-size: 1.3rem;"></i> Users</a></li>
                    <li><a href=""><i class="bi bi-shop-window" style="font-size: 1.3rem;"></i> Products</a></li>
                    <li><a href=""><i class="bi bi-truck" style="font-size: 1.3rem;"></i> Orders</a></li>
                </ul>
                <ul class="list">
                    <p class="list_heading">Notifications</p>
                    <li><a href=""><i class="bi bi-pencil-square" style="font-size: 1.3rem;"></i> Reviews</a></li>
                    <li><a href=""><i class="bi bi-chat-left" style="font-size: 1.3rem;"></i> Messages</a></li>
                    <li><a href=""><i class="bi bi-journal-text" style="font-size: 1.3rem;"></i> Complaint</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>