<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body class="body_login">
    <div class="container">
      <h2>Admin Login</h2>
      <form id="loginForm" action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <p class="errorMessage" id="usernameError" class="error-message"></p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <p class="errorMessage" id="passwordError" class="error-message"></p>
        <button type="submit">Login</button>
        <% if(error && error.length) {%>
          <p class="errorMessage"><%= error %></p>
        <% } %>
      </form>
    </div>
  </body>
</html>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        // Clear previous error messages
        document.getElementById("usernameError").textContent = "";
        document.getElementById("passwordError").textContent = "";
        var username = document.getElementById("username").value.trim();
        var password = document.getElementById("password").value.trim();
        if (username === "") {
            event.preventDefault();
            document.getElementById("usernameError").textContent = "Please enter a username.";
      }

      if (password === "") {
            event.preventDefault();
            document.getElementById("passwordError").textContent = "Please enter a password.";
            return;
      }
    })
</script>