.sidebar{
    /* position: fixed;
    left: 0;
    top: 0; */
    background: var(--side_bar_bg);
    color: #555;
    max-width: 250px;
    width: 100%;
    min-height: 100vh;
    padding: 20px 20px;
}
.sidebar .welcome_message{
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(187, 186, 186);
}
.sidebar .list{
    margin-bottom: 20px;
}
.list p{
    font-size: 13px;
    margin-bottom: 5px;
    color: rgb(187, 186, 186);
}
.list li{
    margin-left: 10px;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    
}
.list_selected{
    background: rgb(240, 240, 255);
}
li a{
    display: flex;
    align-items: center;
    gap: 7px;
}
li:hover{
    background: rgb(240, 240, 255);
}