.review{
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.review .review_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.review .review_title{
    font-weight: bold;
}
.review .reviewd_date{
    color: #565959;
}
.review_header .left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.review_header .reviewer_image{
    width: 30px;
    height: 30px;
}
.review .read_more_btn{
    cursor: pointer;
    display: flex;
    width: max-content;
    font-size: 14px;
    align-items: center;
}
.review .read_more_btn:hover .read_more{
    color: red;
    text-decoration: underline;
}
.review .read_more{
    color: #0d6efd;
}
.review .cut{
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.review .cut:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:5px;
    left: 0;
    z-index: 5;
    transform:scaleY(0.8);
    box-shadow: 0px 0px 8px 10px rgba(255, 255, 255, 0.725);
}