.orders{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orders{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .order_items{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .order_items .order{
    display: flex;
    gap: 10px;
  }
  .order .address{
    position: absolute;
    top: 110%;
    z-index: 2;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  .order .order_item_info{
    
  }
  .order_item_info div{
    width: 100%;
  }
    .order_item_info img{
    width: 150px;
    object-fit: cover;
    object-position: center;
  }
  @media screen and (max-width: 700px) {
    .order .order_item_info{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }